<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <title>Foodzilla</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
  <form action="/companiesmanagement" method="post">
    <table>
      <tr>
        <th>COMPANY NAME</th>
      </tr>
      <tr th:each="p: ${companies}">
        <td th:text="${p.name}"></td>
      </tr>
    </table>
    <h3>Add company</h3>
    Name: <input type="text" name="name" required><br />
    <button type="submit">Add company</button>
  </form>
</body>

</html>