<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <title>Foodzilla</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
  <div class="gridcontainer">
    <div class="header centered">
      <h1>Deliver my order to...</h1>
    </div>
    <form method="POST" th:action="@{sendorder}" th:object="${details}">
      <div id="details-group">
        <div class="details">
          <label for="name">Name: </label>
          <input type="text" th:field="*{name}" />
          <br />
        </div>
        <div class="details">
          <label for="surname">Surname: </label>
          <input type="text" th:field="*{surname}" />
          <br />
        </div>
        <div class="details">
          <label for="room">Room: </label>
          <input type="text" th:field="*{room}" />
          <br />
        </div>
        <br />
        <h2>Please, select your company:</h2>
        <select th:field="*{company}">
          <option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
          </option>
        </select>
      </div>

 


      <button>Submit Your Order!</button>
    </form>
  </div>
</body>

</html>