<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>

    <form method="POST" th:action="@{sendorder}" th:object="${details}">


      <h3>Deliver my taco masterpieces to...</h3>
      <label for="name">Name: </label>
      <input type="text" th:field="*{name}"/>
      <br/>
      
      <input type="hidden" th:field="*{order}" id="order">
    
     
       <h3>Deliver my taco masterpieces to...</h3>
      <label for="surname">Surname: </label>
      <input type="text" th:field="*{surname}"/>
      <br/>
      <h3>Deliver my taco masterpieces to...</h3>
      <label for="room">Room: </label>
      <input type="text" th:field="*{room}"/>
      <br/>
       <br/>
      <h2>Please, choose your company:</h2>
       <select th:field="*{company}">
    <option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
    </option>
</select>
         </div>
      </div>
      <input type="submit" value="Submit Order"/>
    </form>
  </body>
</html>